<html>
<head>
    <title> Library Management System </title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/style.css') }}>   
</head>
    <body>
    <div class="login">
    <img src="static/images/avatar.png" class="avatar">
        <h1>Login Here</h1>
        <form action="/login" method="POST">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="submit" value="Login">
            <a href="#">Forget Password</a>    
        </form>
        
        
        </div>
    
    </body>
</html>